@import "tailwindcss";
@import '../../@/styles/_variables.css';
@import '../../@/styles/_keyframe-animations.css';

div.question {
    color: oklch(39.1% 0.09 240.876);
}

.reponse {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: bold !important;
        line-height: 1.2 !important;
        /* approximativement */
        margin-top: auto !important;
        margin-bottom: auto !important;
    }

    p,
    li,
    strong {
        font-size: .875rem;
        margin-bottom: .75rem;
    }

    h1 {
        font-size: 2.5rem !important;
    }

    /* 40px */
    h2 {
        font-size: 2rem !important;
    }

    /* 32px */
    h3 {
        font-size: 1.75rem !important;
    }

    /* 28px */
    h4 {
        font-size: 1.5rem !important;
    }

    /* 24px */
    h5 {
        font-size: 1.25rem !important;
    }

    /* 20px */
    h6 {
        font-size: 1rem !important;
    }
}